<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <h1 class="h1">Tree Tree</h1>
    <div class="madeBy">Made By Beautifulife</div>
    <div class="content">
    </div>
    <div>
        <img src="assets/images/oegong.png">
    </div>
</body>
</html>
