<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <h1 class="h1"></h1>
    <div class="madeBy"></div>
    <div class="content">
    </div>
</body>
</html>
