// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: black;
    color: white;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    display: inline-block;
    margin: 20px;
    font-size : 3rem;
    color: rgb(36, 238, 10);    
    text-shadow: 3px 3px yellow;
    cursor: pointer;
}

h1::before {
    content : '';
    background-image: url('/assets/images/logo_img.png');
    background-size: 100% 100%;
    height: 60px;
    width: 60px;
    display: inline-block;
    margin-right: 10px;
    position:relative;
    top:4px;
}

ul {
    margin-top: 10px;
    width: 200px;
    list-style: none;
}

li {
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: white;
}

li::before {
    content: '|';
    margin-right: 10px;
    font-size: 1.5rem;
}

.madeBy {
    position: absolute;
    top : 74px;
    right: 30px;
    display: inline-block;
    color: rgb(10, 241, 164);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.5px;
    word-spacing: 4px;
}

.content {
    margin: 20px;
    margin-top: 0px;
    padding: 15px;
    max-height: 100%;
    border: 2px solid greenyellow;
    box-shadow: 3px 3px 10px 5px yellow;
    box-sizing: border-box;
}

.folder {
    font-weight: 600;
    color: gold;
}

.hide {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.add {
    width: 12px;
    cursor: pointer;
    color: red;
}

.hidden{
    display: none;
}

img {
    display: block;
    margin: 0px auto;
    padding: 5px;
    max-width: 15%;
    border-top: 5px solid rgb(255, 255, 0);
    border-radius: 30%;
    transition: border-width 0.8s linear;
    
    box-sizing: content-box;
}

img:hover { 
    border-color: greenyellow;
    border-width: 15px; 
}
